# Data Processing & Storage
datasets>=5.0.0
pandas>=3.0.3

# Audio Processing
soundfile>=0.14.0
librosa>=0.11.0

# Deep Learning & Modeling
torch>=2.12.0
torchvision
torchaudio
transformers>=5.10.2
accelerate>=1.13.0
chunkformer>=1.2.0

# Evaluation & Metrics
jiwer>=4.0.0
evaluate>=0.4.6

# Cloud & Utilities
kaggle>=2.2.0
